nav {
  padding: 16px;
  background-color: #c2afaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav ul {
    list-style-type: none; }
  nav li {
    display: inline-block;
    padding: 8px; }

footer {
  padding: 16px;
  background-color: #c2afaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  footer div ul {
    list-style-type: none;
    display: inline-block;
    align-items: center; }
  footer a {
    width: 16px;
    height: 16px; }
  footer .logo-footer {
    width: 16px;
    height: 16px; }

.header-home {
  padding: 8px;
  background-color: #c2afaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.header-div-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.main-div-project {
  background-color: #c2afaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* estilos main contacto */
.div-contacto {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: left; }

main form div {
  display: flex;
  flex-direction: column; }

main div img {
  padding: 16px; }

main div .proyectos {
  display: grid; }
