.header-home {
    padding: 8px;
    background-color: $color-fondo;

    display: flex;
    flex-direction:row ;
    justify-content: space-between;


}

.header-div-home {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center ;
}