body{
    padding: 8px;
}

.home{
    padding: 16px;
    background-color:$color-fondo;    
    display: flex;
        
        flex-direction: row;
        justify-content: space-between;

        div{
            display: flex;
            flex-direction: column;
            justify-content:center ;
            align-items: center;

        }
        
        h1{
            font-size: 48px;
            justify-content: center;
            text-align: center;

        }
        p{
            padding: 8px;
            font-size: 24px;
            justify-content: end;
        }

        img{
            animation-name: ingreso-superior;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
        }
          
    }

@keyframes ingreso-superior{

    0%{
        transform: translateY(-400px);
        
    }

    100%{
        transform: translatey(0);
    }
}

.home-main{
    
    background-color: white;
    
    h2{
        border: 16px;
    }

    div{
        
        

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .img-1{

        width: 410px;
        left: 500px;

        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        }


    }
}    

@media screen and (max-width:768px){
    .home{
        flex-direction: column;
    }

    .home-main{

        div{
            grid-template-columns: 1fr;
            align-items: center;
        }
    }

}

.img-1:hover{

    transform: scale(1.2);
}
