.main-div-project {
    background-color: $color-fondo;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* estilos main contacto */

.div-contacto {
    padding: 8px;
    
    display: flex;
    flex-direction: row;
    justify-content: left;

}

main form div {
    display: flex;
    flex-direction: column;
    
}

main div img {
    padding: 16px;
    
}